*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100vw;
}

.listDiv{
    width: 350px;
    padding: 20px;
}

.recipeDiv{
    display: grid;
    column-gap: 25px;
    row-gap: 25px;
    grid-template-columns: auto auto auto auto;
    width: 50vw;
    padding: 20px;
    font-size: .8rem;
   
}
.recipe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shopping-list{
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

.recipeImg{
    height: 100px;
    width: 200px;
    
}

.specialBtn{
    height: fit-content;
    width: 200px;
}
.addBtn{
    width: 200px;
}