*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 800px;
}

.listDiv,
.recipeDiv{
    width: 350px;
    padding: 20px;
   
}
.recipe,
.shopping-list{
    display: flex;
    justify-content: space-between;
}
