*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, auto) repeat(2, .8fr);;
    grid-template-rows: auto auto;
    width: 100vw;
}

.listDiv{
    width: 10vw;
    padding: 20px;
}

.recipeDiv{
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    overflow: scroll;
    max-width: 1000px;
    padding: 20px;
    font-size: .8rem;
   grid-row: 1/3;
   grid-column: 1/3;
}
.recipe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    
}

.meal-list,
.shopping-list{
    width: 10vw;
    display: flex;
    justify-content: space-between;
}



.recipeImg{
   max-height: 200px;
    width: 300px;
    
}

.specialBtn{
    height: fit-content;
    width: 200px;
}
.addBtn{
    width: 300px;
}

.consolidateBtn{
    
}
.buttonDiv{
    grid-column: 3/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding: 10px;
}
.shopping-list{
    
    grid-row: 2/3;
    grid-column: 3/4;
}
.meal-list{
    
    grid-row: 2/3;
    grid-column: 4/5;
}
